*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#e1e0b7;
    min-height:100vh;
}

.container{
    background-color:#fff;
    padding:2rem;
    border-radius:1rem;
    min-height:45vh;
    width:40vh;
}

form{
    margin:2rem 0 1rem 0;
}

form select, button, input{
    width:100%;
    border:none;
    outline:none;
    border-radius:0.75rem;
}

form input{
    border:1px solid lightgray;
    height:2rem;
    font-size:1rem;
    padding-left:0.5rem;
}

.dropdown{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:1.5rem;
}

.select-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:6rem;
    border-radius:0.5rem;
    border:1px solid lightgray;
}

.select-container img{
    max-width:1.8rem;
}

.select-container select{
    font-size:1rem;
    width:auto;
}

.msg{
    margin:2rem 0;
}

form button{
    height:3rem;
    font-size:1.15rem;
    color:#fff;
    background-color:purple;
    cursor:pointer;
}

form button:active{
    background-color:lightgreen;
}
